.block--linb-ui-button-box {
    display:-moz-inline-block;
    display:-moz-inline-box;
    font-size:12px;
    line-height:14px;
    overflow:hidden;
    white-space:nowrap;
    position:absolute;
}
.block--linb-ui-button {
    font-size:12px;
    line-height:12px;
}
.block--linb-ui-button-icon {
    width:16px;
    height:16px;
    margin:0 4px 0 0;
}
.block--linb-ui-button-focus {
    overflow:hidden;
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index:20;
    width:100%;
    height:100%;
    -moz-outline-offset:-1px !important;
}
.block--linb-ui-button-border {
    padding:1px;
}
.block--linb-ui-button-border-mouseover {
    padding:0px;
    border:solid 1px #A7A6AA;
    background-color:#FFFFE0;
}
.block--linb-ui-button-border-mousedown {
    padding:0px;
    border:solid 1px #A7A6AA;
    background-color:#FFF;
}