<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html style="height:100%" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="keywords" content="javascript framework, RIA, SPA, client SOA, linb, jsLinb, RAD, IDE, Web IDE, widgets, javascript OOP, opensource, open-source, Ajax, cross-browser, prototype, web2.0, platform-independent, language-independent" />
    <meta name="description" content="Web application created by Visual JS, powered by LINB framework" />
    <meta name="copyright" content="copyright@www.linb.net" />
    <meta http-equiv="imagetoolbar" content="no" />

    <script type="text/javascript" src="../../jsLinb/js/linb.js"></script>
    <script type="text/javascript" src="../../jsLinb/Locale/en.js"></script>

    <script type="text/javascript" src="../../jsLinb/js/event.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/dom.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/dragDrop.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/css.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/Com.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/ComFactory.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/template.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/logger.js"></script>

    <script type="text/javascript" src="../../jsLinb/js/UI.js"></script>

    <script type="text/javascript" src="../../jsLinb/js/UI/Shadow.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/UI/Resizer.js"></script>
    <script type="text/javascript" src="../../jsLinb/js/UI/Edge.js"></script>
    <!--script type="text/javascript" src="../../jsLinb/js/UI/Tips.js"></script-->


    <title>Web application created by "Visual JS", powered by LINB framework</title>
</head>
    <body style="height:100%;overflow:hidden;" scroll="no">
        <div id='memo'>
            <h3 style='color:red;'>Loading...</h3>
            <p>TAGS: javascript framework, RIA, SPA, client SOA, linb, jsLinb, RAD, IDE, Web IDE, widgets, javascript OOP, opensource, open-source, Ajax, cross-browser, prototype, web2.0, platform-independent, language-independent</p>
            <p>Web application created by "Visual JS", goto <a href='http://www.linb.net'>http://www.linb.net</a></p>.
        </div>
        <script type="text/javascript">
            linb.Com.load('App', function(){linb('memo').display('none')});
        </script>
    </body>
</html>