h1{
margin:10px 2px 2px 10px;
 padding-bottom:10px;
 font: bold 24px "Trebuchet MS","Lucida Grande",Verdana,sans-serif; 
 color: #D00000; 
 border-bottom: 1px dashed #aca899;
}
h2{
margin:10px 2px 10px 2px;
 font: bold 18px "Trebuchet MS","Lucida Grande",Verdana,sans-serif;
 color:#134275;
 border-bottom: 1px dashed #aca899;
 }
 h3{
 margin:10px 2px 10px 2px; 
 font: bold 16px Bookman Old Style, Helvetica, sans-serif; 
 color: #4C4B43; 
 border-bottom: 1px dashed #aca899;
 }
 
 .linb-custom-block{margin:2px 2px 2px 18px;display:block;}
 
 .linb-custom-icon{
 margin:2px;
 width:16px;
 height:16px;
 background-image:url(img/img.gif);
 vertical-align: bottom;
 }
 
 .linb-custom-block p{
 margin : 12px;
 font: bold 12px "Trebuchet MS","Lucida Grande",Verdana,sans-serif;
 background:#F9FFE9;
 border: 1px dotted #E9D3F4;
 }
 
 .linb-custom-cmd{
 cursor:pointer;
 margin:2px;
 width:16px;
 height:16px;
 background-image:url(img/img.gif)
 }
 
 .linb-func-name{
 font: 18px Bookman Old Style, Helvetica, sans-serif;
 color: blue;
 }